<div class="col-md-8 col-centered">
  <%= simple_form_for @topic do |f|%>
    <div class="form-group">
      <%= f.input :title, class: "form-control" %>
      <%= f.input :description,class: "form-control" %>
      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    </div>
  <% end %>
</div>
